 html,
 body {
   background: #071b2f url('https://blocks.wallhult.com/assets/bg.png');
   overflow: hidden;
   margin: 0;
   width: 100%;
   height: 100%;

   -webkit-touch-callout: none;
   -webkit-user-select: none;
   user-select: none;
   touch-action: none;
   pointer-events: none;
 }


 #container {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }

 #gamecontainer {
   border: 2px solid #0768CF;
 }

 canvas {
   border: 2px solid #05111E;

   image-rendering: pixelated;
   touch-action: none;
 }

 #gameControls {
   margin-top: 25px;
 }

 #gameControls>span {
   background: #f1f1f1;
   cursor: default;
   display: inline-block;
   font-family: sans-serif;
   padding: 5px;
   border-radius: 5px;
   font-size: 10px;
   color: #0b2948;
   border: 1px solid #eaeaea;
   min-width: 24px;
   box-sizing: border-box;
   text-align: center;
   box-shadow: 0px 2px 0px 1px #cecece;
 }